# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
# pip install pandas-datareader or Anaconda Navigator or Conda
from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [3]:
start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

start

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [4]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from yahoo, assign to df and print it

In [10]:
df = data.DataReader(stocks, 'yahoo', start, end)
df

Attributes        High                                      Low              \
Symbols           AAPL         IBM LNKD        TSLA        AAPL         IBM
Date
2015-01-02  111.440002  163.309998  NaN  223.250000  107.349998  161.000000
2015-01-05  108.650002  161.270004  NaN  216.500000  105.410004  159.190002
2015-01-06  107.430000  159.960007  NaN  214.199997  104.629997  155.169998
2015-01-07  108.199997  157.199997  NaN  214.779999  106.699997  154.029999
2015-01-08  112.150002  159.039993  NaN  213.800003  108.699997  155.550003
2015-01-09  113.250000  160.339996  NaN  209.979996  110.209999  157.250000
2015-01-12  112.629997  159.250000  NaN  204.470001  108.800003  155.759995
2015-01-13  112.800003  159.970001  NaN  207.610001  108.910004  155.679993
2015-01-14  110.489998  156.490005  NaN  195.199997  108.500000  153.740005
2015-01-15  110.059998  156.970001  NaN  195.750000  106.660004  154.160004
2015-01-16  107.580002  157.630005  NaN  194.490005  105.199997  153.820007
2015-01-20  108.970001  157.330002  NaN  194.119995  106.500000  154.029999
2015-01-21  111.059998  154.500000  NaN  198.679993  108.269997  151.070007
2015-01-22  112.470001  155.720001  NaN  203.240005  109.720001  151.759995
2015-01-23  113.750000  157.600006  NaN  203.500000  111.529999  154.889999
2015-01-26  114.360001  159.460007  NaN  208.619995  112.800003  155.770004
2015-01-27  112.480003  155.089996  NaN  208.029999  109.029999  152.589996
2015-01-28  118.120003  154.529999  NaN  206.369995  115.309998  151.550003
2015-01-29  119.190002  155.580002  NaN  205.979996  115.559998  149.520004
2015-01-30  120.000000  155.240005  NaN  207.470001  116.849998  153.039993
2015-02-02  119.169998  154.660004  NaN  211.949997  116.080002  151.509995
2015-02-03  119.089996  158.600006  NaN  220.369995  117.610001  154.750000
2015-02-04  120.510002  158.710007  NaN  221.479996  118.309998  156.699997
2015-02-05  120.230003  158.589996  NaN  225.479996  119.250000  157.149994
2015-02-06  120.250000  158.080002  NaN  223.399994  118.449997  156.229996
2015-02-09  119.839996  157.500000  NaN  217.929993  118.430000  155.399994
2015-02-10  122.150002  158.559998  NaN  220.500000  120.160004  155.080002
2015-02-11  124.919998  159.089996  NaN  214.740005  122.500000  157.169998
2015-02-12  127.480003  159.500000  NaN  203.089996  125.570000  158.089996
2015-02-13  127.279999  160.800003  NaN  205.990005  125.650002  158.639999
...                ...         ...  ...         ...         ...         ...
2019-05-01  215.309998  141.809998  NaN  240.000000  209.229996  140.169998
2019-05-02  212.649994  141.279999  NaN  247.130005  208.130005  139.410004
2019-05-03  211.839996  141.000000  NaN  256.609985  210.229996  139.630005
2019-05-06  208.839996  140.690002  NaN  258.350006  203.500000  137.899994
2019-05-07  207.419998  139.509995  NaN  257.209991  200.830002  136.190002
2019-05-08  205.339996  138.699997  NaN  250.600006  201.750000  137.130005
2019-05-09  201.679993  135.580002  NaN  243.679993  196.660004  133.029999
2019-05-10  198.850006  135.750000  NaN  241.990005  192.770004  132.419998
2019-05-13  189.479996  133.570007  NaN  232.470001  182.850006  130.960007
2019-05-14  189.699997  134.320007  NaN  234.500000  185.410004  131.679993
2019-05-15  191.750000  134.589996  NaN  232.440002  186.020004  132.369995
2019-05-16  192.470001  136.110001  NaN  231.000000  188.839996  134.639999
2019-05-17  190.899994  135.410004  NaN  222.240005  186.759995  133.940002
2019-05-20  184.350006  135.429993  NaN  206.000000  180.279999  132.929993
2019-05-21  188.000000  137.059998  NaN  207.399994  184.699997  135.789993
2019-05-22  185.710007  136.750000  NaN  203.940002  182.550003  135.710007
2019-05-23  180.539993  135.130005  NaN  199.470001  177.809998  130.440002
2019-05-24  182.139999  134.250000  NaN  199.979996  178.619995  131.589996
2019-05-28  180.589996  132.639999  NaN  195.000000  177.910004  130.270004
2019-05-29  179.350006  130.279999  NaN  192.389999  176.000000  128.320007
2019-05-30  179.229996  129.970001  NaN  192.259995  176.669998  128.929993
2019-05-31  177.990005  128.440002  NaN  189.919998  174.990005  126.849998
2019-06-03  177.919998  128.559998  NaN  186.679993  170.270004  127.059998
2019-06-04  179.830002  132.740005  NaN  193.979996  174.520004  129.089996
2019-06-05  184.990005  133.610001  NaN  201.279999  181.139999  130.470001
2019-06-06  185.470001  132.649994  NaN  211.000000  182.149994  130.899994
2019-06-07  191.919998  134.720001  NaN  210.839996  185.770004  132.210007
2019-06-10  195.369995  135.350006  NaN  216.940002  191.619995  133.910004
2019-06-11  196.000000  136.460007  NaN  220.899994  193.600006  135.050003
2019-06-12  195.970001  135.912506  NaN  223.380005  193.384995  134.419998

Attributes                         Open                 ...     Close  \
Symbols    LNKD        TSLA        AAPL         IBM     ...      LNKD
Date                                                    ...
2015-01-02  NaN  213.259995  111.389999  161.309998     ...       NaN
2015-01-05  NaN  207.160004  108.290001  161.270004     ...       NaN
2015-01-06  NaN  204.210007  106.540001  159.669998     ...       NaN
2015-01-07  NaN  209.779999  107.199997  157.199997     ...       NaN
2015-01-08  NaN  210.009995  109.230003  156.240005     ...       NaN
2015-01-09  NaN  204.960007  112.669998  158.419998     ...       NaN
2015-01-12  NaN  199.250000  112.599998  159.000000     ...       NaN
2015-01-13  NaN  200.910004  111.430000  157.259995     ...       NaN
2015-01-14  NaN  185.000000  109.040001  154.860001     ...       NaN
2015-01-15  NaN  190.000000  110.000000  156.690002     ...       NaN
2015-01-16  NaN  189.649994  107.029999  153.820007     ...       NaN
2015-01-20  NaN  187.039993  107.839996  156.699997     ...       NaN
2015-01-21  NaN  189.509995  108.949997  153.029999     ...       NaN
2015-01-22  NaN  195.199997  110.260002  151.940002     ...       NaN
2015-01-23  NaN  198.330002  112.300003  155.029999     ...       NaN
2015-01-26  NaN  201.050003  113.739998  158.259995     ...       NaN
2015-01-27  NaN  203.300003  112.419998  154.940002     ...       NaN
2015-01-28  NaN  198.419998  117.629997  154.000000     ...       NaN
2015-01-29  NaN  196.500000  116.320000  151.380005     ...       NaN
2015-01-30  NaN  203.000000  118.400002  153.910004     ...       NaN
2015-02-02  NaN  203.300003  118.050003  154.000000     ...       NaN
2015-02-03  NaN  211.270004  118.500000  154.750000     ...       NaN
2015-02-04  NaN  216.800003  118.500000  157.210007     ...       NaN
2015-02-05  NaN  219.639999  120.019997  157.289993     ...       NaN
2015-02-06  NaN  216.500000  120.019997  157.339996     ...       NaN
2015-02-09  NaN  211.990005  118.550003  156.000000     ...       NaN
2015-02-10  NaN  215.000000  120.169998  156.740005     ...       NaN
2015-02-11  NaN  207.279999  122.769997  157.759995     ...       NaN
2015-02-12  NaN  193.279999  126.059998  158.720001     ...       NaN
2015-02-13  NaN  200.910004  127.279999  158.779999     ...       NaN
...         ...         ...         ...         ...     ...       ...
2019-05-01  NaN  231.500000  209.880005  140.550003     ...       NaN
2019-05-02  NaN  237.720001  209.839996  140.500000     ...       NaN
2019-05-03  NaN  243.490005  210.889999  139.699997     ...       NaN
2019-05-06  NaN  248.500000  204.289993  138.300003     ...       NaN
2019-05-07  NaN  245.100006  205.880005  139.149994     ...       NaN
2019-05-08  NaN  244.199997  201.899994  137.770004     ...       NaN
2019-05-09  NaN  236.940002  200.399994  134.889999     ...       NaN
2019-05-10  NaN  236.020004  197.419998  134.880005     ...       NaN
2019-05-13  NaN  224.500000  187.710007  133.279999     ...       NaN
2019-05-14  NaN  228.000000  186.410004  131.820007     ...       NaN
2019-05-15  NaN  225.250000  186.270004  132.589996     ...       NaN
2019-05-16  NaN  226.500000  189.910004  134.740005     ...       NaN
2019-05-17  NaN  208.919998  186.929993  134.679993     ...       NaN
2019-05-20  NaN  195.250000  183.520004  133.529999     ...       NaN
2019-05-21  NaN  196.039993  185.220001  136.119995     ...       NaN
2019-05-22  NaN  191.779999  184.660004  136.000000     ...       NaN
2019-05-23  NaN  186.220001  179.800003  135.130005     ...       NaN
2019-05-24  NaN  188.750000  180.199997  133.529999     ...       NaN
2019-05-28  NaN  187.850006  178.919998  132.130005     ...       NaN
2019-05-29  NaN  185.039993  176.419998  130.000000     ...       NaN
2019-05-30  NaN  187.020004  177.949997  129.740005     ...       NaN
2019-05-31  NaN  184.100006  176.229996  128.440002     ...       NaN
2019-06-03  NaN  176.990005  175.600006  127.099998     ...       NaN
2019-06-04  NaN  179.610001  175.440002  129.559998     ...       NaN
2019-06-05  NaN  191.850006  184.279999  133.380005     ...       NaN
2019-06-06  NaN  201.800003  183.080002  132.190002     ...       NaN
2019-06-07  NaN  203.500000  186.509995  132.470001     ...       NaN
2019-06-10  NaN  209.009995  191.809998  134.380005     ...       NaN
2019-06-11  NaN  213.500000  194.860001  135.320007     ...       NaN
2019-06-12  NaN  209.000000  193.949997  135.559998     ...       NaN

Attributes                   Volume                                Adj Close  \
Symbols           TSLA         AAPL         IBM LNKD        TSLA        AAPL
Date
2015-01-02  219.309998   53204600.0   5525500.0  NaN   4764400.0  101.138702
2015-01-05  210.089996   64285500.0   4880400.0  NaN   5368500.0   98.289474
2015-01-06  211.279999   65797100.0   6146700.0  NaN   6261900.0   98.298729
2015-01-07  210.949997   40105900.0   4701800.0  NaN   2968400.0   99.677094
2015-01-08  210.619995   59364500.0   4236800.0  NaN   3442500.0  103.506897
2015-01-09  206.660004   53699500.0   4484800.0  NaN   4591300.0  103.617920
2015-01-12  202.210007   49650800.0   4182800.0  NaN   5944200.0  101.064705
2015-01-13  204.250000   67091900.0   4377500.0  NaN   4477300.0  101.962006
2015-01-14  192.690002   48337000.0   4690300.0  NaN  11551900.0  101.573509
2015-01-15  191.869995   60014000.0   4248400.0  NaN   5216500.0   98.816750
2015-01-16  193.070007   78513300.0   5756000.0  NaN   3603200.0   98.048943
2015-01-20  191.929993   49899900.0   8017800.0  NaN   4489400.0  100.574409
2015-01-21  196.570007   48575900.0  11897100.0  NaN   4153000.0  101.342232
2015-01-22  201.619995   53796400.0   6120100.0  NaN   4116900.0  103.978683
2015-01-23  201.289993   46464800.0   4812200.0  NaN   3438600.0  104.515251
2015-01-26  206.550003   55615000.0   7888100.0  NaN   3234500.0  104.626236
2015-01-27  205.979996   95568700.0   5659600.0  NaN   2781000.0  100.962952
2015-01-28  199.369995  146477100.0   4495900.0  NaN   3149600.0  106.670677
2015-01-29  205.199997   84436400.0   8320800.0  NaN   3548100.0  109.991692
2015-01-30  203.600006   83745500.0   6563600.0  NaN   3007000.0  108.382065
2015-02-02  210.940002   62739100.0   4712200.0  NaN   4149200.0  109.741928
2015-02-03  218.360001   51915700.0   5536300.0  NaN   4812900.0  109.760429
2015-02-04  218.550003   70149700.0   3678500.0  NaN   3305400.0  110.602264
2015-02-05  220.990005   42246200.0   5253600.0  NaN   3522900.0  111.391663
2015-02-06  217.360001   43706600.0   3225000.0  NaN   3233200.0  110.453644
2015-02-09  217.479996   38889800.0   3057700.0  NaN   3472400.0  111.187347
2015-02-10  216.289993   62008500.0   4440600.0  NaN   5390500.0  113.323441
2015-02-11  212.800003   73561800.0   3626700.0  NaN   9769100.0  115.979591
2015-02-12  202.880005   74474500.0   3333100.0  NaN  15649600.0  117.446976
2015-02-13  203.770004   54272200.0   3706900.0  NaN   6191000.0  118.022797
...                ...          ...         ...  ...         ...         ...
2019-05-01  234.009995   64827300.0   3053700.0  NaN  10704400.0  209.712402
2019-05-02  244.100006   31996300.0   3541400.0  NaN  18159300.0  208.347656
2019-05-03  255.029999   20892400.0   2579900.0  NaN  23706800.0  210.937683
2019-05-06  255.339996   32443100.0   2793300.0  NaN  10833900.0  207.680222
2019-05-07  247.059998   38763700.0   4726800.0  NaN  10131400.0  202.081787
2019-05-08  244.839996   26339500.0   3818900.0  NaN   6176400.0  202.121628
2019-05-09  241.979996   34908600.0   4192700.0  NaN   6711400.0  199.949997
2019-05-10  239.520004   41208700.0   3977600.0  NaN   7008300.0  197.179993
2019-05-13  227.009995   57430600.0   4958000.0  NaN  10834800.0  185.720001
2019-05-14  232.309998   36529700.0   3280400.0  NaN   7252400.0  188.660004
2019-05-15  231.949997   26544700.0   2551000.0  NaN   7296000.0  190.919998
2019-05-16  228.330002   33031400.0   3017300.0  NaN   7483300.0  190.080002
2019-05-17  211.029999   32879100.0   2619100.0  NaN  17786700.0  189.000000
2019-05-20  205.360001   38612300.0   3264500.0  NaN  20526200.0  183.089996
2019-05-21  205.080002   28364800.0   2503500.0  NaN  18003900.0  186.600006
2019-05-22  192.729996   29748600.0   1849800.0  NaN  18685200.0  182.779999
2019-05-23  195.490005   36529700.0   5343400.0  NaN  26547100.0  179.660004
2019-05-24  190.630005   23714700.0   2596100.0  NaN  14136600.0  178.970001
2019-05-28  188.699997   27948200.0   4908800.0  NaN  10312900.0  178.229996
2019-05-29  189.860001   28481200.0   3679000.0  NaN  11968600.0  177.380005
2019-05-30  188.220001   21218400.0   2741900.0  NaN   7926500.0  178.300003
2019-05-31  185.160004   27043600.0   3539300.0  NaN  10406700.0  175.070007
2019-06-03  178.970001   40396100.0   4266900.0  NaN  13064400.0  173.300003
2019-06-04  193.600006   30968000.0   3913500.0  NaN  13807500.0  179.639999
2019-06-05  196.589996   29773400.0   3161300.0  NaN  13510800.0  182.539993
2019-06-06  205.949997   22526300.0   2298200.0  NaN  20242200.0  185.220001
2019-06-07  204.500000   30684400.0   2553400.0  NaN  16003500.0  190.149994
2019-06-10  212.880005   26220900.0   2911300.0  NaN  10585000.0  192.580002
2019-06-11  217.100006   26910000.0   3407300.0  NaN  11268000.0  194.809998
2019-06-12  209.259995   17341831.0   1732584.0  NaN  15047645.0  194.190002

Attributes
Symbols            IBM LNKD        TSLA
Date
2015-01-02  133.690369  NaN  219.309998
2015-01-05  131.586792  NaN  210.089996
2015-01-06  128.748962  NaN  211.279999
2015-01-07  127.907516  NaN  210.949997
2015-01-08  130.687607  NaN  210.619995
2015-01-09  131.256805  NaN  206.660004
2015-01-12  129.054230  NaN  202.210007
2015-01-13  129.359436  NaN  204.250000
2015-01-14  128.526230  NaN  192.690002
2015-01-15  127.511566  NaN  191.869995
2015-01-16  129.631668  NaN  193.070007
2015-01-20  129.474899  NaN  191.929993
2015-01-21  125.465668  NaN  196.570007
2015-01-22  128.187988  NaN  201.619995
2015-01-23  128.583969  NaN  201.289993
2015-01-26  128.988190  NaN  206.550003
2015-01-27  126.769104  NaN  205.979996
2015-01-28  125.020226  NaN  199.369995
2015-01-29  128.262238  NaN  205.199997
2015-01-30  126.472122  NaN  203.600006
2015-02-02  127.585793  NaN  210.940002
2015-02-03  130.728821  NaN  218.360001
2015-02-04  129.483139  NaN  218.550003
2015-02-05  130.266846  NaN  220.990005
2015-02-06  130.192062  NaN  217.360001
2015-02-09  129.386307  NaN  217.479996
2015-02-10  131.720657  NaN  216.289993
2015-02-11  131.421600  NaN  212.800003
2015-02-12  131.687424  NaN  202.880005
2015-02-13  133.249191  NaN  203.770004
...                ...  ...         ...
2019-05-01  138.909943  NaN  234.009995
2019-05-02  137.951324  NaN  244.100006
2019-05-03  138.603592  NaN  255.029999
2019-05-06  138.732071  NaN  255.339996
2019-05-07  136.024231  NaN  247.059998
2019-05-08  136.380005  NaN  244.839996
2019-05-09  135.339996  NaN  241.979996
2019-05-10  135.320007  NaN  239.520004
2019-05-13  131.419998  NaN  227.009995
2019-05-14  133.309998  NaN  232.309998
2019-05-15  134.399994  NaN  231.949997
2019-05-16  135.880005  NaN  228.330002
2019-05-17  134.320007  NaN  211.029999
2019-05-20  135.119995  NaN  205.360001
2019-05-21  136.449997  NaN  205.080002
2019-05-22  136.350006  NaN  192.729996
2019-05-23  132.389999  NaN  195.490005
2019-05-24  132.279999  NaN  190.630005
2019-05-28  130.460007  NaN  188.699997
2019-05-29  129.690002  NaN  189.860001
2019-05-30  129.570007  NaN  188.220001
2019-05-31  126.989998  NaN  185.160004
2019-06-03  128.270004  NaN  178.970001
2019-06-04  132.690002  NaN  193.600006
2019-06-05  131.490005  NaN  196.589996
2019-06-06  132.220001  NaN  205.949997
2019-06-07  133.309998  NaN  204.500000
2019-06-10  134.740005  NaN  212.880005
2019-06-11  135.949997  NaN  217.100006
2019-06-12  134.869995  NaN  209.259995

[1118 rows x 24 columns]

### Step 5.  What is the type of structure of df ?

In [ ]:
# 'pandas.core.panel.Panel'

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [9]:
df.items

<bound method DataFrame.iteritems of Attributes        High                                      Low              \
Symbols           AAPL         IBM LNKD        TSLA        AAPL         IBM
Date
2015-01-02  111.440002  163.309998  NaN  223.250000  107.349998  161.000000
2015-01-05  108.650002  161.270004  NaN  216.500000  105.410004  159.190002
2015-01-06  107.430000  159.960007  NaN  214.199997  104.629997  155.169998
2015-01-07  108.199997  157.199997  NaN  214.779999  106.699997  154.029999
2015-01-08  112.150002  159.039993  NaN  213.800003  108.699997  155.550003
2015-01-09  113.250000  160.339996  NaN  209.979996  110.209999  157.250000
2015-01-12  112.629997  159.250000  NaN  204.470001  108.800003  155.759995
2015-01-13  112.800003  159.970001  NaN  207.610001  108.910004  155.679993
2015-01-14  110.489998  156.490005  NaN  195.199997  108.500000  153.740005
2015-01-15  110.059998  156.970001  NaN  195.750000  106.660004  154.160004
2015-01-16  107.580002  157.630005  NaN  194.490005  105.199997  153.820007
2015-01-20  108.970001  157.330002  NaN  194.119995  106.500000  154.029999
2015-01-21  111.059998  154.500000  NaN  198.679993  108.269997  151.070007
2015-01-22  112.470001  155.720001  NaN  203.240005  109.720001  151.759995
2015-01-23  113.750000  157.600006  NaN  203.500000  111.529999  154.889999
2015-01-26  114.360001  159.460007  NaN  208.619995  112.800003  155.770004
2015-01-27  112.480003  155.089996  NaN  208.029999  109.029999  152.589996
2015-01-28  118.120003  154.529999  NaN  206.369995  115.309998  151.550003
2015-01-29  119.190002  155.580002  NaN  205.979996  115.559998  149.520004
2015-01-30  120.000000  155.240005  NaN  207.470001  116.849998  153.039993
2015-02-02  119.169998  154.660004  NaN  211.949997  116.080002  151.509995
2015-02-03  119.089996  158.600006  NaN  220.369995  117.610001  154.750000
2015-02-04  120.510002  158.710007  NaN  221.479996  118.309998  156.699997
2015-02-05  120.230003  158.589996  NaN  225.479996  119.250000  157.149994
2015-02-06  120.250000  158.080002  NaN  223.399994  118.449997  156.229996
2015-02-09  119.839996  157.500000  NaN  217.929993  118.430000  155.399994
2015-02-10  122.150002  158.559998  NaN  220.500000  120.160004  155.080002
2015-02-11  124.919998  159.089996  NaN  214.740005  122.500000  157.169998
2015-02-12  127.480003  159.500000  NaN  203.089996  125.570000  158.089996
2015-02-13  127.279999  160.800003  NaN  205.990005  125.650002  158.639999
...                ...         ...  ...         ...         ...         ...
2019-05-01  215.309998  141.809998  NaN  240.000000  209.229996  140.169998
2019-05-02  212.649994  141.279999  NaN  247.130005  208.130005  139.410004
2019-05-03  211.839996  141.000000  NaN  256.609985  210.229996  139.630005
2019-05-06  208.839996  140.690002  NaN  258.350006  203.500000  137.899994
2019-05-07  207.419998  139.509995  NaN  257.209991  200.830002  136.190002
2019-05-08  205.339996  138.699997  NaN  250.600006  201.750000  137.130005
2019-05-09  201.679993  135.580002  NaN  243.679993  196.660004  133.029999
2019-05-10  198.850006  135.750000  NaN  241.990005  192.770004  132.419998
2019-05-13  189.479996  133.570007  NaN  232.470001  182.850006  130.960007
2019-05-14  189.699997  134.320007  NaN  234.500000  185.410004  131.679993
2019-05-15  191.750000  134.589996  NaN  232.440002  186.020004  132.369995
2019-05-16  192.470001  136.110001  NaN  231.000000  188.839996  134.639999
2019-05-17  190.899994  135.410004  NaN  222.240005  186.759995  133.940002
2019-05-20  184.350006  135.429993  NaN  206.000000  180.279999  132.929993
2019-05-21  188.000000  137.059998  NaN  207.399994  184.699997  135.789993
2019-05-22  185.710007  136.750000  NaN  203.940002  182.550003  135.710007
2019-05-23  180.539993  135.130005  NaN  199.470001  177.809998  130.440002
2019-05-24  182.139999  134.250000  NaN  199.979996  178.619995  131.589996
2019-05-28  180.589996  132.639999  NaN  195.000000  177.910004  130.270004
2019-05-29  179.350006  130.279999  NaN  192.389999  176.000000  128.320007
2019-05-30  179.229996  129.970001  NaN  192.259995  176.669998  128.929993
2019-05-31  177.990005  128.440002  NaN  189.919998  174.990005  126.849998
2019-06-03  177.919998  128.559998  NaN  186.679993  170.270004  127.059998
2019-06-04  179.830002  132.740005  NaN  193.979996  174.520004  129.089996
2019-06-05  184.990005  133.610001  NaN  201.279999  181.139999  130.470001
2019-06-06  185.470001  132.649994  NaN  211.000000  182.149994  130.899994
2019-06-07  191.919998  134.720001  NaN  210.839996  185.770004  132.210007
2019-06-10  195.369995  135.350006  NaN  216.940002  191.619995  133.910004
2019-06-11  196.000000  136.460007  NaN  220.899994  193.600006  135.050003
2019-06-12  195.970001  135.912506  NaN  223.380005  193.384995  134.419998

Attributes                         Open                 ...     Close  \
Symbols    LNKD        TSLA        AAPL         IBM     ...      LNKD
Date                                                    ...
2015-01-02  NaN  213.259995  111.389999  161.309998     ...       NaN
2015-01-05  NaN  207.160004  108.290001  161.270004     ...       NaN
2015-01-06  NaN  204.210007  106.540001  159.669998     ...       NaN
2015-01-07  NaN  209.779999  107.199997  157.199997     ...       NaN
2015-01-08  NaN  210.009995  109.230003  156.240005     ...       NaN
2015-01-09  NaN  204.960007  112.669998  158.419998     ...       NaN
2015-01-12  NaN  199.250000  112.599998  159.000000     ...       NaN
2015-01-13  NaN  200.910004  111.430000  157.259995     ...       NaN
2015-01-14  NaN  185.000000  109.040001  154.860001     ...       NaN
2015-01-15  NaN  190.000000  110.000000  156.690002     ...       NaN
2015-01-16  NaN  189.649994  107.029999  153.820007     ...       NaN
2015-01-20  NaN  187.039993  107.839996  156.699997     ...       NaN
2015-01-21  NaN  189.509995  108.949997  153.029999     ...       NaN
2015-01-22  NaN  195.199997  110.260002  151.940002     ...       NaN
2015-01-23  NaN  198.330002  112.300003  155.029999     ...       NaN
2015-01-26  NaN  201.050003  113.739998  158.259995     ...       NaN
2015-01-27  NaN  203.300003  112.419998  154.940002     ...       NaN
2015-01-28  NaN  198.419998  117.629997  154.000000     ...       NaN
2015-01-29  NaN  196.500000  116.320000  151.380005     ...       NaN
2015-01-30  NaN  203.000000  118.400002  153.910004     ...       NaN
2015-02-02  NaN  203.300003  118.050003  154.000000     ...       NaN
2015-02-03  NaN  211.270004  118.500000  154.750000     ...       NaN
2015-02-04  NaN  216.800003  118.500000  157.210007     ...       NaN
2015-02-05  NaN  219.639999  120.019997  157.289993     ...       NaN
2015-02-06  NaN  216.500000  120.019997  157.339996     ...       NaN
2015-02-09  NaN  211.990005  118.550003  156.000000     ...       NaN
2015-02-10  NaN  215.000000  120.169998  156.740005     ...       NaN
2015-02-11  NaN  207.279999  122.769997  157.759995     ...       NaN
2015-02-12  NaN  193.279999  126.059998  158.720001     ...       NaN
2015-02-13  NaN  200.910004  127.279999  158.779999     ...       NaN
...         ...         ...         ...         ...     ...       ...
2019-05-01  NaN  231.500000  209.880005  140.550003     ...       NaN
2019-05-02  NaN  237.720001  209.839996  140.500000     ...       NaN
2019-05-03  NaN  243.490005  210.889999  139.699997     ...       NaN
2019-05-06  NaN  248.500000  204.289993  138.300003     ...       NaN
2019-05-07  NaN  245.100006  205.880005  139.149994     ...       NaN
2019-05-08  NaN  244.199997  201.899994  137.770004     ...       NaN
2019-05-09  NaN  236.940002  200.399994  134.889999     ...       NaN
2019-05-10  NaN  236.020004  197.419998  134.880005     ...       NaN
2019-05-13  NaN  224.500000  187.710007  133.279999     ...       NaN
2019-05-14  NaN  228.000000  186.410004  131.820007     ...       NaN
2019-05-15  NaN  225.250000  186.270004  132.589996     ...       NaN
2019-05-16  NaN  226.500000  189.910004  134.740005     ...       NaN
2019-05-17  NaN  208.919998  186.929993  134.679993     ...       NaN
2019-05-20  NaN  195.250000  183.520004  133.529999     ...       NaN
2019-05-21  NaN  196.039993  185.220001  136.119995     ...       NaN
2019-05-22  NaN  191.779999  184.660004  136.000000     ...       NaN
2019-05-23  NaN  186.220001  179.800003  135.130005     ...       NaN
2019-05-24  NaN  188.750000  180.199997  133.529999     ...       NaN
2019-05-28  NaN  187.850006  178.919998  132.130005     ...       NaN
2019-05-29  NaN  185.039993  176.419998  130.000000     ...       NaN
2019-05-30  NaN  187.020004  177.949997  129.740005     ...       NaN
2019-05-31  NaN  184.100006  176.229996  128.440002     ...       NaN
2019-06-03  NaN  176.990005  175.600006  127.099998     ...       NaN
2019-06-04  NaN  179.610001  175.440002  129.559998     ...       NaN
2019-06-05  NaN  191.850006  184.279999  133.380005     ...       NaN
2019-06-06  NaN  201.800003  183.080002  132.190002     ...       NaN
2019-06-07  NaN  203.500000  186.509995  132.470001     ...       NaN
2019-06-10  NaN  209.009995  191.809998  134.380005     ...       NaN
2019-06-11  NaN  213.500000  194.860001  135.320007     ...       NaN
2019-06-12  NaN  209.000000  193.949997  135.559998     ...       NaN

Attributes                   Volume                                Adj Close  \
Symbols           TSLA         AAPL         IBM LNKD        TSLA        AAPL
Date
2015-01-02  219.309998   53204600.0   5525500.0  NaN   4764400.0  101.138702
2015-01-05  210.089996   64285500.0   4880400.0  NaN   5368500.0   98.289474
2015-01-06  211.279999   65797100.0   6146700.0  NaN   6261900.0   98.298729
2015-01-07  210.949997   40105900.0   4701800.0  NaN   2968400.0   99.677094
2015-01-08  210.619995   59364500.0   4236800.0  NaN   3442500.0  103.506897
2015-01-09  206.660004   53699500.0   4484800.0  NaN   4591300.0  103.617920
2015-01-12  202.210007   49650800.0   4182800.0  NaN   5944200.0  101.064705
2015-01-13  204.250000   67091900.0   4377500.0  NaN   4477300.0  101.962006
2015-01-14  192.690002   48337000.0   4690300.0  NaN  11551900.0  101.573509
2015-01-15  191.869995   60014000.0   4248400.0  NaN   5216500.0   98.816750
2015-01-16  193.070007   78513300.0   5756000.0  NaN   3603200.0   98.048943
2015-01-20  191.929993   49899900.0   8017800.0  NaN   4489400.0  100.574409
2015-01-21  196.570007   48575900.0  11897100.0  NaN   4153000.0  101.342232
2015-01-22  201.619995   53796400.0   6120100.0  NaN   4116900.0  103.978683
2015-01-23  201.289993   46464800.0   4812200.0  NaN   3438600.0  104.515251
2015-01-26  206.550003   55615000.0   7888100.0  NaN   3234500.0  104.626236
2015-01-27  205.979996   95568700.0   5659600.0  NaN   2781000.0  100.962952
2015-01-28  199.369995  146477100.0   4495900.0  NaN   3149600.0  106.670677
2015-01-29  205.199997   84436400.0   8320800.0  NaN   3548100.0  109.991692
2015-01-30  203.600006   83745500.0   6563600.0  NaN   3007000.0  108.382065
2015-02-02  210.940002   62739100.0   4712200.0  NaN   4149200.0  109.741928
2015-02-03  218.360001   51915700.0   5536300.0  NaN   4812900.0  109.760429
2015-02-04  218.550003   70149700.0   3678500.0  NaN   3305400.0  110.602264
2015-02-05  220.990005   42246200.0   5253600.0  NaN   3522900.0  111.391663
2015-02-06  217.360001   43706600.0   3225000.0  NaN   3233200.0  110.453644
2015-02-09  217.479996   38889800.0   3057700.0  NaN   3472400.0  111.187347
2015-02-10  216.289993   62008500.0   4440600.0  NaN   5390500.0  113.323441
2015-02-11  212.800003   73561800.0   3626700.0  NaN   9769100.0  115.979591
2015-02-12  202.880005   74474500.0   3333100.0  NaN  15649600.0  117.446976
2015-02-13  203.770004   54272200.0   3706900.0  NaN   6191000.0  118.022797
...                ...          ...         ...  ...         ...         ...
2019-05-01  234.009995   64827300.0   3053700.0  NaN  10704400.0  209.712402
2019-05-02  244.100006   31996300.0   3541400.0  NaN  18159300.0  208.347656
2019-05-03  255.029999   20892400.0   2579900.0  NaN  23706800.0  210.937683
2019-05-06  255.339996   32443100.0   2793300.0  NaN  10833900.0  207.680222
2019-05-07  247.059998   38763700.0   4726800.0  NaN  10131400.0  202.081787
2019-05-08  244.839996   26339500.0   3818900.0  NaN   6176400.0  202.121628
2019-05-09  241.979996   34908600.0   4192700.0  NaN   6711400.0  199.949997
2019-05-10  239.520004   41208700.0   3977600.0  NaN   7008300.0  197.179993
2019-05-13  227.009995   57430600.0   4958000.0  NaN  10834800.0  185.720001
2019-05-14  232.309998   36529700.0   3280400.0  NaN   7252400.0  188.660004
2019-05-15  231.949997   26544700.0   2551000.0  NaN   7296000.0  190.919998
2019-05-16  228.330002   33031400.0   3017300.0  NaN   7483300.0  190.080002
2019-05-17  211.029999   32879100.0   2619100.0  NaN  17786700.0  189.000000
2019-05-20  205.360001   38612300.0   3264500.0  NaN  20526200.0  183.089996
2019-05-21  205.080002   28364800.0   2503500.0  NaN  18003900.0  186.600006
2019-05-22  192.729996   29748600.0   1849800.0  NaN  18685200.0  182.779999
2019-05-23  195.490005   36529700.0   5343400.0  NaN  26547100.0  179.660004
2019-05-24  190.630005   23714700.0   2596100.0  NaN  14136600.0  178.970001
2019-05-28  188.699997   27948200.0   4908800.0  NaN  10312900.0  178.229996
2019-05-29  189.860001   28481200.0   3679000.0  NaN  11968600.0  177.380005
2019-05-30  188.220001   21218400.0   2741900.0  NaN   7926500.0  178.300003
2019-05-31  185.160004   27043600.0   3539300.0  NaN  10406700.0  175.070007
2019-06-03  178.970001   40396100.0   4266900.0  NaN  13064400.0  173.300003
2019-06-04  193.600006   30968000.0   3913500.0  NaN  13807500.0  179.639999
2019-06-05  196.589996   29773400.0   3161300.0  NaN  13510800.0  182.539993
2019-06-06  205.949997   22526300.0   2298200.0  NaN  20242200.0  185.220001
2019-06-07  204.500000   30684400.0   2553400.0  NaN  16003500.0  190.149994
2019-06-10  212.880005   26220900.0   2911300.0  NaN  10585000.0  192.580002
2019-06-11  217.100006   26910000.0   3407300.0  NaN  11268000.0  194.809998
2019-06-12  209.259995   17341831.0   1732584.0  NaN  15047645.0  194.190002

Attributes
Symbols            IBM LNKD        TSLA
Date
2015-01-02  133.690369  NaN  219.309998
2015-01-05  131.586792  NaN  210.089996
2015-01-06  128.748962  NaN  211.279999
2015-01-07  127.907516  NaN  210.949997
2015-01-08  130.687607  NaN  210.619995
2015-01-09  131.256805  NaN  206.660004
2015-01-12  129.054230  NaN  202.210007
2015-01-13  129.359436  NaN  204.250000
2015-01-14  128.526230  NaN  192.690002
2015-01-15  127.511566  NaN  191.869995
2015-01-16  129.631668  NaN  193.070007
2015-01-20  129.474899  NaN  191.929993
2015-01-21  125.465668  NaN  196.570007
2015-01-22  128.187988  NaN  201.619995
2015-01-23  128.583969  NaN  201.289993
2015-01-26  128.988190  NaN  206.550003
2015-01-27  126.769104  NaN  205.979996
2015-01-28  125.020226  NaN  199.369995
2015-01-29  128.262238  NaN  205.199997
2015-01-30  126.472122  NaN  203.600006
2015-02-02  127.585793  NaN  210.940002
2015-02-03  130.728821  NaN  218.360001
2015-02-04  129.483139  NaN  218.550003
2015-02-05  130.266846  NaN  220.990005
2015-02-06  130.192062  NaN  217.360001
2015-02-09  129.386307  NaN  217.479996
2015-02-10  131.720657  NaN  216.289993
2015-02-11  131.421600  NaN  212.800003
2015-02-12  131.687424  NaN  202.880005
2015-02-13  133.249191  NaN  203.770004
...                ...  ...         ...
2019-05-01  138.909943  NaN  234.009995
2019-05-02  137.951324  NaN  244.100006
2019-05-03  138.603592  NaN  255.029999
2019-05-06  138.732071  NaN  255.339996
2019-05-07  136.024231  NaN  247.059998
2019-05-08  136.380005  NaN  244.839996
2019-05-09  135.339996  NaN  241.979996
2019-05-10  135.320007  NaN  239.520004
2019-05-13  131.419998  NaN  227.009995
2019-05-14  133.309998  NaN  232.309998
2019-05-15  134.399994  NaN  231.949997
2019-05-16  135.880005  NaN  228.330002
2019-05-17  134.320007  NaN  211.029999
2019-05-20  135.119995  NaN  205.360001
2019-05-21  136.449997  NaN  205.080002
2019-05-22  136.350006  NaN  192.729996
2019-05-23  132.389999  NaN  195.490005
2019-05-24  132.279999  NaN  190.630005
2019-05-28  130.460007  NaN  188.699997
2019-05-29  129.690002  NaN  189.860001
2019-05-30  129.570007  NaN  188.220001
2019-05-31  126.989998  NaN  185.160004
2019-06-03  128.270004  NaN  178.970001
2019-06-04  132.690002  NaN  193.600006
2019-06-05  131.490005  NaN  196.589996
2019-06-06  132.220001  NaN  205.949997
2019-06-07  133.309998  NaN  204.500000
2019-06-10  134.740005  NaN  212.880005
2019-06-11  135.949997  NaN  217.100006
2019-06-12  134.869995  NaN  209.259995

[1118 rows x 24 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [11]:
vol = df['Volume']
vol.head()

Symbols           AAPL        IBM  LNKD       TSLA
Date
2015-01-02  53204600.0  5525500.0   NaN  4764400.0
2015-01-05  64285500.0  4880400.0   NaN  5368500.0
2015-01-06  65797100.0  6146700.0   NaN  6261900.0
2015-01-07  40105900.0  4701800.0   NaN  2968400.0
2015-01-08  59364500.0  4236800.0   NaN  3442500.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [12]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year

week = vol.groupby(['week','year']).sum()
week.head()

C:\Users\thimo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\thimo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Symbols           AAPL         IBM  LNKD        TSLA
week year
1    2015   53204600.0   5525500.0   0.0   4764400.0
     2016  343790200.0  25253600.0   0.0  20975400.0
     2017  103845500.0  11943500.0   0.0  28576400.0
     2018  136171900.0  31378900.0   0.0  29713500.0
     2019  186890900.0  12938000.0   0.0  26007100.0

### Step 9. Find all the volume traded in the year of 2015

In [131]:
del vol['week']
vol['year'] = vol.index.year

year = vol.groupby(['year']).sum()
year

              AAPL           IBM         LNKD          TSLA
year
2015  1.301994e+10  1.100959e+09  440376163.0  1.085839e+09
2016  6.081474e+09  6.585250e+08  453233878.0  7.540962e+08

### BONUS: Create your own question and answer it.